<p id="notice"><%= notice %></p>


  <div class='body'>
    <% if @business_profile.avatar? %>
      <%= image_tag @business_profile.avatar.url %>
    <% end %>
    <h2>
      <%= @business_profile.name %>
    </h2>
    <h6>
      <%= @business_profile.about %>
    </h6>
  </div>

<%= link_to 'Current Listings', "/current-listings" %>
<%= link_to 'Past Listings', "/past-listings" %>
<%= link_to 'Create a new listing', new_product_path %>


<h3>Business Details</h3>

<p>
  <strong>Street line one:</strong>
  <%= @business_profile.street_line_one %>
</p>

<p>
  <strong>Street line two:</strong>
  <%= @business_profile.street_line_two %>
</p>

<p>
  <strong>Suburb:</strong>
  <%= @business_profile.suburb %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @business_profile.postcode %>
</p>

<p>
  <strong>State:</strong>
  <%= @business_profile.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @business_profile.country %>
</p>

<p>
  <strong>Address notes:</strong>
  <%= @business_profile.address_notes %>
</p>


<p>
  <strong>Abn:</strong>
  <%= @business_profile.abn %>
</p>

<p>
  <strong>Contact first name:</strong>
  <%= @business_profile.contact_first_name %>
</p>

<p>
  <strong>Contact last name:</strong>
  <%= @business_profile.contact_last_name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @business_profile.phone %>
</p>

<%= link_to 'Edit Profile', edit_business_profile_path(@business_profile) %> |
<%= link_to 'Change Sign-Up Details', '/businesses/edit' %>
