<div class="thanks-bg">
</div>
<div class="middle-layer">
  <div class="complete-order">
    <div class="order-content">

      <p id="notice"><%= notice %></p>

      <h2>Completed Orders</h2>

      <table>
        <thead>
          <tr>
            <th>Donor</th>
            <th colspan="1"></th>
            <th>Price</th>
            <th>Date</th>
          </tr>
        </thead>

        <tbody>
          <% if current_donor %>
            <% current_donor.orders.each do |order| %>
              <tr>
                <td><%= order.donor.donor_profile.first_name %></td>
                <td><%= order.donor.donor_profile.last_name %></td>
                <td><%= number_to_currency(order.price) %></td> 
                <td><%= order.created_at.strftime("%e %b %Y") %></td>       
                <td><%= link_to 'Show', order %></td>
                <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          <% else %>
            <p>You are only able to view your past orders once logged in.</p>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>


