<p id="notice"><%= notice %></p>

<p>
  <strong>Donor:</strong>
  <%= @order.donor.donor_profile.first_name %>
</p>

<p><%= @order.line_items %>
  </p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
