<div class="sign-up-bg">
</div>
<div class="middle-layer">
  <div class="sign-up">
    <div class="sign-up-content">
      <h2>Your Donor Profile</h2>
        <%= form_with(model: donor_profile, local: true) do |form| %>
          <% if donor_profile.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(donor_profile.errors.count, "error") %> prohibited this donor_profile from being saved:</h2>

              <ul>
              <% donor_profile.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <div class="field">
            <%= form.text_field :first_name, placeholder: "First Name", size: 25 %>
          </div>

          <div class="field">
            <%= form.text_field :last_name, placeholder: "Last Name", size: 25 %>
          </div>

          <div class="field">
            <%= form.label :avatar %>
            <%= form.file_field :avatar, size: 20 %>
          </div>

          <div class="field">
            <%= form.text_field :street_line_one, placeholder: "Street", size: 25 %>
          </div>

          <div class="field">
            <%= form.text_field :street_line_two, placeholder: "Line 2 (optional)", size: 25 %>
          </div>

          <div class="field">
            <%= form.text_field :suburb, placeholder: "Suburb" %>
          </div>

          <div class="field">
            <%= form.text_field :postcode, placeholder: "Postcode" %>
          </div>

          <div class="field">
            <%= form.text_field :state, placeholder: "State" %>
          </div>

          <div class="field">
            <%= form.text_field :country, placeholder: "Country" %>
          </div>

          <div class="field">
            <%= form.text_field :phone_number, placeholder: "Phone Number" %>
          </div>

          <div class="actions">
            <%= form.submit %>
          </div>
        <% end %>
    </div>
  </div>
</div>
