<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div class="field">
    <h6><%= form.label :length %> (in cm)
    <%= form.number_field :length %></h6>
  </div>

  <div class="field">
  <h6><%= form.label :width %> (in cm)
    <%= form.number_field :width %></h6>
  </div>

  <div class="field">
    <h6><%= form.label :height %> (in cm)
    <%= form.number_field :height %></h6>
  </div>

  <div class="field">
    <%= form.label :cost_price %> 
    <%= form.number_field :cost_price, step: :any %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
