<div class="login">
    <% if current_donor %>
        <h4><%= link_to "#{current_donor.donor_profile.first_name}", donor_profile_path(current_donor.donor_profile.id) %></h4>
        <h5><%= link_to 'Sign Out', destroy_donor_session_path %></h5>
    <% elsif current_business %>
        <h4><%= link_to "#{current_business.business_profile.name}", business_profile_path(current_business.business_profile.id) %></h4>        
        <h5><%= link_to 'Sign Out', destroy_business_session_path %></h5>    
    <% else %>
        <h5><%= link_to 'Donor Login', donor_session_path %></h5>
        <h5><%= link_to 'Business Login', business_session_path %></h5>
    <% end %>
</div>
        
