<nav class="top-nav">
  <ul>
    <li><%= link_to "Home", store_index_path %></li>
    <li><%= link_to "Browse", products_path %></li>
    <li><%= link_to "How it Works", 'how-it-works' %></li>
    <li><%= link_to "Our Story", "our-story" %></li>
    <li><%= link_to "Profile", "donor_profiles#show" %></li>
</nav>