<!DOCTYPE html>
<html>
  <head>
    <title>Ozfeed</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      
      <nav class="top-nav">
        <ul>
          <li>Home</li>
          <li>Browse</li>
          <li>How it Works</li>
          <li>Our Story</li>
          <li>Donate</li>
        </ul>
      </nav>
      <% if current_donor %>
        <p>Welcome <%= current_donor.donor_profile.first_name %></p>
 
      <% end %>
    </header>
    <section class="content">
      <div class="left_sidebar">
        <div id="cart" class="carts">
          <% unless orders_path %>
            <%= render_if @cart && @cart.line_items.any?, @cart %>
          <% end %>
        </div>
        <ul class="search">
          <li>search</li>
          <li>categories</li>
          <li>more categories</li>
          <li>something else</li>
        </ul>
      </div>
      <main class='<%= controller.controller_name %>'>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield %>
      </main>
      <div class="right_sidebar">
        <h3>Latest Superstars!</h3>
        <ul class="donor_list">
          <li>name $10</li>
          <li>name $5</li>
          <li>name $53</li>
          <li>name $35</li>
          <li>name $25</li>
        </ul>
      </div>
    </section>
  </body>
</html>